<div class="d-flex flex-wrap justify-content-evely">
    {{#each orders}} <!-- Itera sobre cada documento en 'docs' -->
    <div class="card" style="width: 18rem;">
      <img
            src={{this.products_id.photo}}
            style="width: 150px; heigth: 150px"
            style="height: 150px; width: 285px"
            class="object-fit-cover m-0"
            alt={{this.products_id.title}}
          />
      <div class="card-body">
        <h5 class="card-title">ID: {{this._id}}</h5> <!-- Muestra el ID del documento -->
        <p class="card-text">Cantidad: {{this.quantity}}</p> <!-- Muestra la cantidad -->
        <p class="card-text">Estado: {{this.state}}</p> <!-- Muestra el estado -->
        <p class="card-text">Products:id: {{this.products_id.title}}</p>
        <p class="card-text">USD {{this.products_id.price}}</p>
      </div>
    </div>
    {{/each}}
</div>
